# you can check it from your ringcentral engage digit admin url
RINGCENTRAL_ENGAGE_SERVER_URL=https://your-company-prefix.api.engagement.dimelo.com

# create/get a api token in RingCentral Engage Digital -> admin -> API access tokens
RINGCENTRAL_ENGAGE_API_TOKEN=xxxx
RINGCENTRAL_ENGAGE_AUTH_URL=https://your-company-prefix.digital.ringcentral.com/oauth/authorize
RINGCENTRAL_ENGAGE_TOKEN_URL=https://your-company-prefix.digital.ringcentral.com/oauth/token
RINGCENTRAL_ENGAGE_KEY=xx
RINGCENTRAL_ENGAGE_SECRET=xx
